---
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';
import { useTranslations } from '~/utils/i18n';
import Logo from '~/components/widgets/Logo.astro';
import ShopStatus from '~/components/widgets/ShopStatus.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ctaBannerImage from '~/assets/images/cta-banner.png';
import type { FooterSection } from '~/types';
import { PHONE, ADDRESS, FULLNAME, FIRSTNAME } from '~/constants/contact';

const { ctaBanner = false } = Astro.props;
const { t } = useTranslations(Astro.currentLocale);

const footerSections: FooterSection[] = [
  {
    title: t('layout.footer.information.title'),
    links: [
      {
        label: ADDRESS,
        href: "https://www.google.com/maps/dir/?api=1&destination=Atelier+d'Ailes",
        external: true,
      },
      { label: t('layout.footer.information.links.openDays') },
      { label: t('layout.footer.information.links.openHours') },
      { component: 'shopStatus' },
    ],
  },
  {
    title: t('layout.footer.contact.title'),
    links: [
      { label: FULLNAME },
      { label: PHONE.FORMAT_INTL, href: `tel:${PHONE.E164}` },
      { label: t('layout.footer.contact.links.legal'), href: '/legal' },
    ],
  },
  {
    title: t('layout.footer.explore.title'),
    links: [
      { label: t('layout.footer.explore.links.servicesMaintenance'), href: '/services#maintenance' },
      { label: t('layout.footer.explore.links.servicesRepair'), href: '/services#repair' },
      {
        label: t('layout.footer.explore.links.servicesReserveParachutePacking'),
        href: '/services#reserve-parachute-packing',
      },
      { label: t('layout.footer.explore.links.advices'), href: '/advices' },
      { label: t('layout.footer.explore.links.about', { firstname: FIRSTNAME }), href: '/#christophe-godard' },
      { label: t('layout.footer.explore.links.paracheck'), href: '/#paracheck' },
      { label: t('layout.footer.explore.links.reviews'), href: '/#reviews' },
      { label: t('layout.footer.explore.links.pricing'), href: '/pricing' },
      { label: t('layout.footer.explore.links.contact'), href: '/contact' },
    ],
  },
];
---

{
  ctaBanner && (
    <CallToAction
      id="cta-services"
      title={t('layout.cta.title')}
      subtitle={t('layout.cta.subtitle')}
      image={{
        src: ctaBannerImage,
        alt: t('layout.cta.image.alt'),
      }}
      actions={[
        {
          text: t('layout.cta.actions.contact'),
          href: '/contact',
        },
      ]}
    />
  )
}

<footer class="relative border-t border-gray-200">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-6 py-8 md:py-12">
      <!-- Logo & credits -->
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>
            <Logo />
          </a>
        </div>
        <span class="text-muted text-sm">© {new Date().getFullYear()} {SITE?.name}</span>
      </div>

      <!-- Sections -->
      <div class="col-span-12 lg:col-span-8 flex flex-col md:flex-row justify-between gap-6">
        {
          footerSections.map((section) => (
            <div>
              <div class="font-medium mb-2">{section.title}</div>

              <ul class="text-sm flex flex-col gap-2">
                {section.links.map((link) => (
                  <li>
                    {link.component === 'shopStatus' ? (
                      <ShopStatus id="footer" />
                    ) : link.href ? (
                      <a
                        href={link.href}
                        class="hover:underline"
                        target={link.external ? '_blank' : undefined}
                        rel={link.external ? 'noopener noreferrer' : undefined}
                      >
                        {link.label}
                      </a>
                    ) : (
                      <span>{link.label}</span>
                    )}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
