---
import { SITE } from 'astrowind:config';
import Logo from '~/components/widgets/Logo.astro';
import ShopStatus from '~/components/widgets/ShopStatus.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ctaBannerImage from '~/assets/images/cta-banner.png';
import { getLocalePath, t } from 'i18n:astro';
import type { FooterSection } from '~/types';

export interface Props {
  dataSections: FooterSection[];
  ctaBanner?: boolean;
}

const { dataSections, ctaBanner = false } = Astro.props;
---

{
  ctaBanner && (
    <CallToAction
      id="cta-services"
      title={t('cta.title')}
      subtitle={t('cta.subtitle')}
      image={{
        src: ctaBannerImage,
        alt: t('cta.image.alt'),
      }}
      actions={[
        {
          text: t('cta.actions.contact'),
          href: getLocalePath('/contact'),
        },
      ]}
    />
  )
}

<footer class="relative border-t border-gray-200">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-6 py-8 md:py-12">
      <!-- Logo & credits -->
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getLocalePath('/')}>
            <Logo />
          </a>
        </div>
        <span class="text-muted text-sm">© {new Date().getFullYear()} {SITE?.name}</span>
      </div>

      <!-- Sections -->
      <div class="col-span-12 lg:col-span-8 flex flex-col md:flex-row justify-between gap-6">
        {
          dataSections.map((section) => (
            <div>
              <div class="font-medium mb-2">{section.title}</div>

              <ul class="text-sm flex flex-col gap-2">
                {section.links.map((link) => (
                  <li>
                    {link.component === 'shopStatus' ? (
                      <ShopStatus id="footer" />
                    ) : link.href ? (
                      <a
                        href={link.href}
                        class="hover:underline"
                        target={link.external ? '_blank' : undefined}
                        rel={link.external ? 'noopener noreferrer' : undefined}
                      >
                        {link.label}
                      </a>
                    ) : (
                      <span>{link.label}</span>
                    )}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
