---
import { Icon } from 'astro-icon/components';
import { getLocale, getSwitcherData, t } from 'i18n:astro';

const locale = getLocale();
const switcherData = getSwitcherData();

const flagIcons: Record<string, string> = {
  fr: 'fi fi-fr',
  en: 'fi fi-gb',
};
---

<details class="relative inline-block text-[0.9375rem]">
  <summary
    class="flex items-center gap-2 cursor-pointer py-2 px-4 list-none"
    aria-label={t('langPicker.selectedLanguage.accessible', { lang: locale.toUpperCase() })}
  >
    <span class={`${flagIcons[locale]} w-3 h-3`} aria-hidden="true"></span>
    <span aria-hidden="true">{locale.toUpperCase()}</span>
    <Icon name="lucide:chevron-down" class="w-4 h-4" aria-hidden="true" />
  </summary>

  <div
    class="absolute right-0 mr-3 bg-white rounded-lg shadow-lg bottom-full mb-2 md:bottom-auto md:top-full md:mt-2 md:mb-0"
  >
    {
      switcherData.map((option) => (
        <a
          href={option.href}
          class={`flex items-center gap-2 px-4 py-2 ${option.locale === locale ? 'bg-gray-100 rounded-md' : ''}`}
          aria-current={option.locale === locale ? 'true' : undefined}
          aria-label={t('langPicker.options.accessible', { lang: option.locale.toUpperCase() })}
        >
          <span class={`${flagIcons[option.locale]} w-3 h-3`} aria-hidden="true" />
          <span aria-hidden="true">{option.locale.toUpperCase()}</span>
        </a>
      ))
    }
  </div>
</details>
