---
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '~/components/layout/Logo.astro';
import ShopStatus from '~/components/widgets/ShopStatus.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ctaBannerImage from '~/assets/images/cta-banner.png';
import type { FooterSection } from '~/types';

const { ctaBanner = false } = Astro.props;

const footerSections: FooterSection[] = [
  {
    title: 'Adresse & Horaires',
    links: [
      {
        label: '23 Hautefeuille, 77510 Sablonnières',
        href: "https://www.google.com/maps/dir/?api=1&destination=Atelier+d'Ailes",
        external: true,
      },
      { label: 'Du mardi au samedi' },
      { label: 'De 9h à 18h' },
      { component: 'shopStatus' },
    ],
  },
  {
    title: 'Contact',
    links: [
      { label: 'Christophe GODARD' },
      { label: '(+33) 06 81 30 85 58', href: 'tel:+33681308558' },
      { label: 'Mentions légales', href: '/legal' },
    ],
  },
  {
    title: 'Explorer',
    links: [
      { label: 'Révision périodique', href: '/services#maintenance' },
      { label: 'Réparation de votre aile', href: '/services#repair' },
      { label: 'Pliage de parachute de secours', href: '/services#reserve-parachute-packing' },
      { label: 'Conseils', href: '/advices' },
      { label: 'À propos de Christophe', href: '/#christophe-godard' },
      { label: 'ParachecK®', href: '/#paracheck' },
      { label: 'Avis des pilotes', href: '/#reviews' },
      { label: 'Tarifs', href: '/pricing' },
      { label: 'Prendre rendez-vous', href: '/contact' },
    ],
  },
];
---

{
  ctaBanner && (
    <CallToAction
      id="cta-services"
      title="Besoin d'un service pour votre matériel ?"
      subtitle="L'entretien régulier de votre aile contribue à voler en toute sécurité.<br />Contactez l'atelier pour toute demande."
      image={{
        src: ctaBannerImage,
        alt: 'Parapente volant dans le ciel bleu',
      }}
      actions={[
        {
          text: 'Prendre rendez-vous',
          href: '/contact',
        },
      ]}
    />
  )
}

<footer class="relative border-t border-gray-200">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-6 py-8 md:py-12">
      <!-- Logo & credits -->
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>
            <Logo />
          </a>
        </div>
        <span class="text-muted text-sm">© {new Date().getFullYear()} {SITE?.name}</span>
      </div>

      <!-- Sections -->
      <div class="col-span-12 lg:col-span-8 flex flex-col md:flex-row justify-between gap-6">
        {
          footerSections.map((section) => (
            <div>
              <div class="font-medium mb-2">{section.title}</div>

              <ul class="text-sm flex flex-col gap-2">
                {section.links.map((link) => (
                  <li>
                    {link.component === 'shopStatus' ? (
                      <ShopStatus id="footer" />
                    ) : link.href ? (
                      <a
                        href={link.href}
                        class="hover:underline"
                        target={link.external ? '_blank' : undefined}
                        rel={link.external ? 'noopener noreferrer' : undefined}
                      >
                        {link.label}
                      </a>
                    ) : (
                      <span>{link.label}</span>
                    )}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
