---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Pricing as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  prices = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex items-stretch justify-center">
    <div class="grid grid-cols-3 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
      {
        prices.map(({ title, subtitle, price, items, callToAction }) => (
          <div class="col-span-3 mx-auto flex w-full sm:col-span-1 md:col-span-1 lg:col-span-1 xl:col-span-1">
            <div class="rounded-lg backdrop-blur border border-gray-200 bg-white shadow px-6 py-8 flex w-full max-w-sm flex-col text-center">
              {title && (
                <h3 class="text-center max-w-xs text-xl font-semibold uppercase leading-6 tracking-wider mb-2">
                  {title}
                </h3>
              )}
              {subtitle && <p class="font-light sm:text-lg text-gray-600">{subtitle}</p>}

              {price && (
                <div class="my-8">
                  <div class="flex items-center justify-center text-center mb-1">
                    <span class="text-5xl md:text-6xl font-extrabold">{price}</span>
                    <span class="text-4xl md:text-5xl">€</span>
                  </div>
                </div>
              )}

              {items && items.length > 0 && (
                <ul class="space-y-2 text-left">
                  {items.map(
                    ({ description, icon }) =>
                      description && (
                        <li class="mb-1.5 flex items-start space-x-3 leading-7">
                          <div class="rounded-full bg-green-100 mt-1">
                            <Icon name={icon || 'tabler:check'} class="w-6 h-6 p-1 text-green-800" />
                          </div>
                          <span>{description}</span>
                        </li>
                      )
                  )}
                </ul>
              )}

              {callToAction && callToAction.href && (
                <div class="flex justify-center mt-6">
                  <Button {...callToAction} />
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</WidgetWrapper>
