---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

import type { MetaData } from '~/types';
import Markdown from '~/components/ui/Markdown.astro';

export interface Props {
  frontmatter: {
    title: string;
    tagline?: string;
    subtitle?: string;
  };
  content: string;
}

const { frontmatter, content } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
};
---

<Layout metadata={metadata}>
  <Hero title={frontmatter.title} tagline={frontmatter.tagline} subtitle={frontmatter.subtitle} />

  <section class="p-4 mx-auto max-w-4xl mb-16 pb-16">
    <Markdown content={content}></Markdown>
  </section>
</Layout>
