---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import { reader } from '~/utils/keystatic';

const locale = Astro.currentLocale;

const activeAnnouncementConfig = await reader.singletons[`${locale}_active_announcement`].read();
const currentAnnouncement = await reader.collections[`${locale}_announcement`].read(
  activeAnnouncementConfig.announcement
);

const isAnnouncementEnabled =
  activeAnnouncementConfig?.active && activeAnnouncementConfig?.announcement && currentAnnouncement;

import { getHeaderData } from '../navigation';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  ctaBanner?: boolean;
}

const headerData = getHeaderData(Astro.currentLocale);

const { metadata, ctaBanner = false } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData}>
      {
        isAnnouncementEnabled && (
          <Announcement slot="announcement" message={currentAnnouncement.message} href="/announcement" />
        )
      }
    </Header>
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer ctaBanner={ctaBanner} />
  </slot>
</Layout>
